<%= form_for(@manga) do |f| %>
  <% if @manga.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manga.errors.count, "error") %> prohibited this manga from being saved:</h2>

      <ul>
      <% @manga.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>

  <div class="field">
    <%= f.label :chapter %><br>
    <%= f.number_field :chapter %>
  </div>

  <div class="field">
    <%= f.label :chapter_title %><br>
    <%= f.text_field :chapter_title %>
  </div>

  <div class="field">
    <% @tags.each do |t| %>
      <label>
        <%= check_box_tag "tags[]", t.id, @manga.tags.include?(t), :id=>"tags_#{t.id}" %>
        <%= t.name %>
      </label>
    <% end %>
  </div>

  <div class="field">
   <%= f.label :author %>
   <%= select_tag(:author, options_for_select(@authors, :selected=>(@manga.author.nil? ? nil : @manga.author.id))) %>
    <%= link_to "New Author", "/authors/new", :target=>"BLANK" ,:class=>"btn btn-success" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
