<p id="notice"><%= notice %></p>

<p>
  <strong>Tags:</strong>
  <ul class="nav nav-pills">
    <% @manga.tags.each do |tag| %>
    <li>
      <%= link_to tag.name, "/tags/#{tag.slug}" %>
    </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @manga.author.name, "/authors/#{@manga.author.slug}" %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manga.title %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @manga.volume %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @manga.chapter %>
</p>

<p>
  <strong>Chapter title:</strong>
  <%= @manga.chapter_title %>
</p>

<%= link_to 'Edit', edit_manga_path(@manga), :class=>"btn btn-success" %>
<%= link_to 'Back', mangas_path, :class=>"btn btn-primary" %>