<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<div class="col-md-12">

  <div class="col-md-6">
    <strong>Animes:</strong>

    <ul class="nav nav-pills nav-stacked">
      <% @tag.animes.each do |anime| %>
      <li>
        <%= link_to anime.title, "/animes/#{anime.slug}" %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <strong>Mangas:</strong>

    <ul class="nav nav-pills nav-stacked">
      <% @tag.mangas.each do |manga| %>
      <li>
        <%= link_to manga.title, "/mangas/#{manga.slug}" %>
      </li>
      <% end %>
    </ul>
  </div>

</div>

<%= link_to 'Edit', edit_tag_path(@tag), :class=>"btn btn-success" %>
<%= link_to 'Back', tags_path, :class=>"btn btn-primary" %>
