<div class="col-md-12">
  <%= bootstrap_form_for(@anime, :html=>{:class=>"form-horizontal"}) do |f| %>
    <div class="col-sm-12">
      <%= f.text_field :title, :class=>"form-control" %>
    </div>

    <div class="col-sm-12">
      <%= f.number_field :released_year, :class=>"form-control" %>
    </div>

    <div class="col-sm-12">
      <%= f.text_field :season, :class=>"form-control" %>
    </div>

    <div class="col-sm-12">
      <%= f.text_field :season_title, :class=>"form-control" %>
    </div>

    <div class="col-sm-12">
      <%= f.number_field :episode, :class=>"form-control" %>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-2">
        <label class="control-label"> Tags: </label>
      </div>

      <div class="col-sm-10">
        <% @tags.each do |t| %>
          <label>
              <%= t.name %> <%= check_box_tag "tags[]", t.id, @anime.tags.include?(t), :id=>"tags_#{t.id}", :class=>"form-control" %>
          </label> |
        <% end %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-2">
        <%= f.label :author, :class=>"control-label" %>
      </div>

      <div class="col-sm-10">
        <div class="col-sm-10">
          <%= select_tag(:author, options_for_select(@authors, :selected=>(@anime.author.nil? ? nil : @anime.author.id)), :class=>"form-control") %>
        </div>

        <div class="col-sm-2">
          <%= link_to "New Author", "/authors/new", :target=>"BLANK" ,:class=>"btn btn-success" %>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <%= f.text_field :last_visited_url, :class=>"form-control" %>
    </div>

    <div class="col-sm-12">
      <div class="col-sm-2">
        <%= f.label :sites, :class=>"control-label" %>
      </div>

      <div class="col-sm-10">
        <div class="row">
          <input type="button" class='btn btn-primary' id="add-new-site-url" value="Add new site url" />

          <div class="col-sm-11">
            <input type="text" id="site-url" value="" class="form-control" />
          </div>

          <div class="col-sm-1 add-url-container">
            <span class="glyphicon glyphicon-plus btn btn-success" id="add-url">Add</span>
          </div>

          <div class="col-sm-12">
            <ul id='sites-url-list'>
              <% @anime.sites.each do |site| %>
                <li>
                  <%= site %>
                  <span class="glyphicon glyphicon-minus btn btn-success remove-url">Remove</span>
                  <input type="hidden" name="sites[]" value="<%= site %>">
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="actions">
        <%= f.submit(:class=>"btn btn-success") %>
        <%= link_to 'Back', animes_path, :class=>"btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
