<h1 class="text-center">Listing animes</h1>

<%= link_to 'New Anime', new_anime_path, :class=>"btn btn-success" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Season</th>
      <th>Season title</th>
      <th>Episode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animes.each do |anime| %>
      <tr>
        <td><%= anime.title %></td>
        <td><%= anime.season %></td>
        <td><%= anime.season_title %></td>
        <td><%= anime.episode %></td>
        <td><%= link_to 'Show', anime, :class=>"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_anime_path(anime), :class=>"btn btn-success" %></td>
        <td><%= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Anime', new_anime_path, :class=>"btn btn-success" %>
