<p id="notice"><%= notice %></p>

<p>
  <strong>Tags:</strong>
  <ul class="nav nav-pills">
    <% @anime.tags.each do |tag| %>
    <li>
      <%= link_to tag.name, "/tags/#{tag.slug}" %>
    </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @anime.author.name, "/authors/#{@anime.author.slug}" %>
</p>

<p>
  <strong>Title:</strong>
  <%= @anime.title %>
</p>

<p>
  <strong>Season:</strong>
  <%= @anime.season %>
</p>

<p>
  <strong>Season title:</strong>
  <%= @anime.season_title %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @anime.episode %>
</p>

<%= link_to 'Edit', edit_anime_path(@anime), :class=>"btn btn-success" %>
<%= link_to 'Back', animes_path, :class=>"btn btn-primary" %>